[Unit]
Description = redis daemon
[Service]

ExecStart = /usr/local/bin/redis-server --protected-mode no
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
